---
import { siteConfig } from "../config";
const hasCv = siteConfig.education && siteConfig.education.length > 0;
---

{
  hasCv && (
    <section id="Cv" class="p-8 sm:p-12 md:p-16 lg:p-24">
        <div>
            <p class="text-center font-black text-lg mb-4"> 
                Curriculum Vitae:
            </p> 
            <div class="flex justify-center mb-8">
                <a href="../../public/Cv.pdf" target="_blank" class="bg-transparent text-black px-6 py-3 rounded-lg shadow-md hover:bg-gray-800 hover:text-white transition-colors duration-300">
                    vuoi un pdf?
                </a>
            </div>
        </div>
    </section>
  )
}
